* {
	background-image: none;
    background-repeat: no-repeat;
    
    background-position: center;
    font-size: 34px;

}
window {
	background-color: rgba(12, 12, 12, 0.3);
}
button {
    color: #fff;
	background-color: #041E42;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

button:focus, button:active, button:hover {
	background-color: #869397;
	outline-style: none;
}

#lock, #lock:active {
    background-image: image(url("./lock.png"));
}
#lock:hover, #lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout, #logout:active {
    background-image: image(url("./logout.png"));
}
#logout:hover, #logout:focus {
    background-image: image(url("./logout-hover.png"));
}
#suspend, #suspend:active {
    background-image: image(url("./sleep.png"));
}
#suspend:hover, #suspend:focus {
    background-image: image(url("./sleep-hover.png"));
}
/*#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
} */

#shutdown, #shutdown:active {
    background-image: image(url("./power.png"));
}
#shutdown:hover, #shutdown:focus {
    background-image: image(url("./power-hover.png"));
}
#reboot, #reboot:active {
    background-image: image(url("./restart.png"));
}
#reboot:hover, #reboot:focus {
    background-image: image(url("./restart-hover.png"));
}