* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono NF";
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    /*background: rgba(12, 12, 12, 0.5);*/
    color: #002244;
	padding: 0;
    margin: 0;
}

tooltip {
    background: #002244;
    opacity: 1.0;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #869397;
}

#workspaces button {
    padding: 2px;
    color: #002244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #00A19B ;
}

#workspaces button.focused {
    color: #C8CCCE;
    background: #C8CCCE;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #C8CCCE;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #C8CCCE;
    color: #C8CCCE;
    border-radius: 10px;
}
#custom-wallpaper,
#custom-playerctl,
#custom-email,
#custom-lock_screen,
#custom-light_dark,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#custom-pacman,
#memory,
#clock,
#battery,
#pulseaudio,
#battery,
#network,
#tray,
#custom-sofi,
#custom-launcher,
#custom-launcher2,
#custom-chatgpt,
#temperature,
#backlight {
    background: #869397;
    /*background: rgba(12, 12, 12, 0.0);*/
    opacity: 1.0;
    padding: 5px 10px;
    margin: 4px 4px;
    margin-top: 2px;
    border: 2px;
}

#custom-power_btn {
    color: #869397;
    font-size: 30px;
    margin-left: 4px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 10px;
}

#tray, #custom-lock_screen, #temperature, #backlight, #cpu, #memory,#custom-launcher, #custom-launcher2, #custom-sofi, #custom-email, #custom-chatgpt, #pulseaudio {
    border-radius:15px 15px 15px 15px;
}

#custom-light_dark, #pulseaudio.microphone, #battery, #disk, #custom-wallpaper, #clock, #custom-weather, #network {
    border-radius: 15px 15px 15px 15px;
    margin-right: 5px;
}

#temperature.critical {
    color: #e92d4d;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #1d7715;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-logo {
    color: #869397;
    font-size: 40px;
    margin-left: 4px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 10px;
}

#custom-wallpaper {
	color: #002244;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #002244;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #003594;
    border-left: 0px;
    border-right: 0px;
}
#custom-launcher {
    color: #002244;
    border-left: 0px;
    border-right: 0px;
}

#custom-launcher2 {
    color: #ffffff;
    border-left: 0px;
    border-right: 0px;
}

#custom-sofi {
    color: red;
    border-left: 0px;
    border-right: 0px;
}
#battery {
    color: #1d7715;
    border-left: 0px;
}
